
@{
    ViewData["Title"] = "ForgotPasswordInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ForgotPasswordInformation</h1>
<p>Linkiniz gönderildi, Lütfen emailinizi kontrol ediniz!</p>

