
@{
    ViewData["Title"] = "ResetPasswordInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ForgotPasswordInformation</h1>
<p>Hesabınızın şifresi yenilendi. Lütfen tekrar <a asp-action="Login">Giriş</a> yapınız.</p>

